@tailwind base;
@tailwind components;
@tailwind utilities;


.swal2-container {
  z-index: 99999;
}
.custom-swal-popup {
  border: 2px solid #ff0000 !important;
}

.custom-swal-button {
  background-color: #c33333 !important; 
  color: #ffffff !important; 
}

@font-face{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Raleway-bold';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face{
    font-family: 'Raleway-regular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Raleway-Regular.ttf') format('truetype');
}

@layer base {
    html {
      font-family: "Raleway-regular", system-ui, sans-serif;
    }
  }

